
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/profile.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('styles/index.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="c-card-user">
{#        <div class="c-card-user__image-wrap">#}
{#            <div style="background-image: {{ image }}" class="c-card-user__image-wrap">#}
            <img class="c-card-user__image" src="{{ asset('skatesucka.png') }}" alt="user-nombre">
{#        </div>#}
        <div class="c-card-user__info">
            nombre
        </div>

    </div>
    <div class="c-comments">


        {% for item in commentsTwig %}
            <div class="b-comment-slides">{{ item.title }}</div>
        {% endfor %}

        <div class="b-comment-slides">prueba</div>
        <a class="b-comment-slides__prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="b-comment-slides__next" onclick="plusSlides(1)">&#10095;</a>
    </div>

{% endblock %}


