
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/profile.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/index.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="c-card-user">
        <div class="c-card-user__image-wrap">
            <img class="c-card-user__image" src="{{ app.user.avatar }}" alt="user-nombre">
        </div>
        <div class="c-card-user__info">
            {{ app.user.username }}
            {{ app.user.email }}
        </div>

    </div>

    <div class="button--main">
        <a class="button button--big" href="{{ path('commentPage') }}">Publicar</a>
    </div>

    <h2 class="title title__comments">Tablón de anuncios</h2>

    <div class="c-comments">

        {% for item in commentsTwig %}
            <div class="b-comment-slides">
                <div class="b-image-texted">
                    <img class="b-image-texted__image" src="{{ item.codUser.avatar }}" alt="user-{{ item.codUser.username }}">
                    <div class="b-image-texted__text">
                        <h3 class="title">{{ item.title | capitalize}}</h3>
                        <p>{{ item.text }}</p>
                    </div>
                </div>
                <div>
                    <p>{{ item.codUser.username }}</p>
                    {% if item.codUser.username == app.user.username %}
                        <p class="b-text--right">
                            <a class="link" href="">Borrar</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <a class="b-comment-slides__prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="b-comment-slides__next" onclick="plusSlides(1)">&#10095;</a>
    </div>

{% endblock %}


