<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/main.css') }}">
{#        <title>{% block title %}Escateo{% endblock %}</title>#}
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        {% endblock %}


    </head>

    <nav class="b-nav">
        {% block nav %}
            <div class="b-nav__link">
                <a class="link" href="{{ path('homePage') }}" > < Inicio </a>
                <a class="link breadcrumb--profile" href="{{ path('profilePage') }}" > < Perfil </a>
                {% if is_granted('ROLE_USER') %}
                    <a class="link breadcrumb--logout" href="{{ path('app_logout') }}" >  Cerrar sesión </a>
                {% endif %}
                <a class="link breadcrumb--logout breadcrumb--register" href="{{ path('registerPage') }}" >  Registrarse </a>
                <a class="link breadcrumb--logout breadcrumb--login" href="{{ path('app_login') }}" >  Iniciar sesión </a>
            </div>
            <div class="b-nav__title">
                <h1 class="title title--main"> Escateo </h1>
            </div>
        {% endblock %}
    </nav>

    <body>
        {% block body %}{% endblock %}
    </body>
    {% block javascripts %}
    {% endblock %}
</html>
